build/.project
build/.settings/org.eclipse.core.resources.prefs
build/.settings/org.eclipse.m2e.core.prefs
faces/.classpath
faces/.project
faces/.settings/org.eclipse.core.resources.prefs
faces/.settings/org.eclipse.jdt.core.prefs
faces/.settings/org.eclipse.m2e.core.prefs
functions/.classpath
functions/.project
functions/.settings/org.eclipse.core.resources.prefs
functions/.settings/org.eclipse.jdt.core.prefs
functions/.settings/org.eclipse.m2e.core.prefs
ioc/.classpath
ioc/.project
ioc/.settings/org.eclipse.core.resources.prefs
ioc/.settings/org.eclipse.jdt.core.prefs
ioc/.settings/org.eclipse.m2e.core.prefs
printer/.classpath
printer/.project
printer/.settings/org.eclipse.core.resources.prefs
printer/.settings/org.eclipse.jdt.core.prefs
printer/.settings/org.eclipse.m2e.core.prefs
tenaz/.classpath
tenaz/.project
tenaz/.settings/org.eclipse.core.resources.prefs
tenaz/.settings/org.eclipse.jdt.core.prefs
tenaz/.settings/org.eclipse.m2e.core.prefs
faces/.settings/org.eclipse.wst.common.component
faces/.settings/org.eclipse.wst.common.project.facet.core.xml
functions/.settings/org.eclipse.wst.common.component
functions/.settings/org.eclipse.wst.common.project.facet.core.xml
ioc/.settings/org.eclipse.wst.common.component
ioc/.settings/org.eclipse.wst.common.project.facet.core.xml
printer/.settings/org.eclipse.wst.common.component
printer/.settings/org.eclipse.wst.common.project.facet.core.xml
tenaz/.settings/org.eclipse.wst.common.component
tenaz/.settings/org.eclipse.wst.common.project.facet.core.xml
faces/.settings/org.eclipse.wst.validation.prefs
functions/.settings/org.eclipse.wst.validation.prefs
ioc/.settings/org.eclipse.wst.validation.prefs
printer/.settings/org.eclipse.wst.validation.prefs
tenaz/.settings/org.eclipse.wst.validation.prefs
web/.classpath
web/.project
web/.settings/org.eclipse.core.resources.prefs
web/.settings/org.eclipse.jdt.core.prefs
web/.settings/org.eclipse.m2e.core.prefs
*.iml
build/.idea/
