__pycache__/
_Chutzpah*
_NCrunch_*
_pkginfo.txt
_Pvt_Extensions
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
!?*.[Cc]ache/
!.axoCover/settings.json
!.lib/**######################
!.mvn/wrapper/maven-wrapper.jar
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!**/[Pp]ackages/build/
!gradle/wrapper/gradle-wrapper.jar
._*
.*crunch*.local.xml
.axoCover/*
.buildpath
.builds
.c9/
.classpath
.cproject
.cr/personal
.DS_Store
.DS_Store.vscode/**
.DS_Store# Default ignored files
.DS_Storenode_modules/
.eslintcache
.externalToolBuilders/**
.factorypath
.fake/
.gradle/**
.history/*
.idea
.idea/
.idea/**
.ionide/
.loadpath
.localhistory/
.merge_file*
.metadata
.mfractor/
.ntvs_analysis.dat
.paket/paket.exe
.pidfile.pid
.project
.project/bin/
.project# Default ignored files
.project######################
.sass-cache/
.sass-cache/**
.sencha
.settings
.settings/
.settings/**
.Spotlight-V100
.svn
.testling_env.sh
.tmp
.Trashes
.vagrant/**
.vs/
.vscode/*
.vscode/**
.vscode/launch.json
.vscode/tasks.json
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Dd]ebugPS/
[Dd]ebugPublic/
[Ee]xpress/
[Ll]og/
[Ll]ogs/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleasePS/
[Rr]eleases/
[Tt]est[Rr]esult*/
[Ww][Ii][Nn]32/
*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl
*- [Bb]ackup.rdl
*-dist.zip
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.*~
*.appx
*.appxbundle
*.appxupload
*.aps
*.azurePubxml
*.bak
*.bim_*.settings
*.bim.layout
*.binlog
*.btm.cs
*.btp.cs
*.build.csdef
*.cachefile
*.class
*.coverage
*.coveragexml
*.db
*.dbmdl
*.dbproj.schemaview
*.dotCover
*.DotSettings.user
*.e2e
*.ear
*.GhostDoc.xml
*.gpState
*.ids
*.ilk
*.iml
*.iobj
*.ipdb
*.ipr
*.iws
*.jar
*.jfm
*.jmconfig
*.launch
*.ldf
*.log
*.mdf
*.meta
*.mm.*
*.ncb
*.ndf
*.nuget.props
*.nuget.targets
*.nupkg
*.nvuser
*.obj
*.odx.cs
*.opendb
*.opensdf
*.opt
*.orig
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.plg
*.psess
*.publishproj
*.publishsettings
*.pubxml
*.pyc
*.pydevproject
*.rdl.data
*.rpm.vscode/**
*.rpm######################
*.rptproj.bak
*.rptproj.rsuser
*.rsp
*.rsuser
*.sap
*.sbr
*.scc
*.sdf
*.sln.docstates
*.snupkg
*.sublime-workspace
*.suo
*.svclog
*.swp
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.tss
*.user
*.userosscache
*.userprefs
*.vbw
*.VC.db
*.VC.VC.opendb
*.VisualState.xml
*.vsp
*.vspscc
*.vspx
*.vssscc
*.war
*.xsd.cs
**/[Pp]ackages/*
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.HTMLClient/GeneratedArtifacts
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
**/Resources/Files/**# Default ignored files
*~
*~.nib
/.angular/cache
/.idea.InvoiceSign.iml
/.idea.InvoiceSignature.iml
/.idea.InvoiceSignSignature.iml
/.idea.InvoiceSync.iml
/.idea/
/bazel-out
/bin/
/bin/**
/bower_components/**
/build
/build/**
/components/
/connect.lock
/contentModel.xml
/coverage
/data/
/dataSources.local.xml
/dataSources/
/deploy/**
/dist
/httpRequests/
/InvoiceSign.API/appsettings.Development.json
/InvoiceSign.API/Resources/Files/Documents
/InvoiceSign.Backoffice.API/appsettings.Development.json
/InvoiceSignBackend/appsettings.Development.json
/InvoiceSignBackend/Resources/Files
/libpeerconnection.log
/log/**
/modules.xml
/node_modules
/node_modules/**
/node_tmp/**
/node/**
/out-tsc
/projectSettingsUpdater.xml
/resources/mariadb/*
/resources/rabbitMQ/*
/shelf/
/spring_loaded/**
/src/main/resources/rebel.xml
/target/**
/target/# Default ignored files
/target/www/**
/test.log
/tmp
/tmp/**
/tmp/**/*
/typings
/vendor/
/volumes
/workspace.xml
~$*
$tf/
AppPackages/
artifacts/
ASALocalRun/
AutoTest.Net/
Backup*/
BenchmarkDotNet.Artifacts/
bin
bitbucket-ssh-rsa.pub
bld/
bootstrap.*
**/bower_components/**
build
build/
BundleArtifacts/
classic.json*
ClientBin/
composer.lock
coverage
coverage*.info
coverage*.json
coverage*.xml
csx/
data
demo/node_modules/
demo/uploads/
Desktop.ini
dist
dist/test
dlldata.c
docker/volumes
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
docs/_build
docs/doc/public
ecf/
FakesAssemblies/
FodyWeavers.xsd
Generated_Code/
Generated\ Files/
gh-pages
global.json# Default ignored files
healthchecksdb
InvoiceSign.API/appsettings.Development.json
InvoiceSignSignature/appsettings.Development.json
InvoiceSignSignature/Resources/Files/
ipch/
local.properties
# Correios webservice credentials (local only, see correios.properties.example)
domain/src/main/resources/correios.properties
metadata.json
MigrationBackup/
modern.json*
modernizr.min.js
mono_crash.*
nCrunchTemp_*
node_modules
node_modules/
npm-debug.log
nunit-*.xml
OpenCover/
orleans.codegen.cs
Package.StoreAssociation.xml
paket-files/
pkg
project.fragment.lock.json
project.lock.json
publish/
PublishScripts/
rcf/
ScaffoldingReadMe.txt
sencha-error-*.log
ServiceFabricBackup/
sockjs.js
sockjs.min.js
StyleCopReport.xml
test/*.html
test/coverage
test/serve/bundle.js
testem.log
testling.js
TestResult.xml
tests/html/lib/*.js
Thumbs.db
tmp
TODO.txt
UpgradeLog*.htm
UpgradeLog*.XML
uploads/
x64/
x86/
yarn-error.log

# Versionados: sockjs e stompjs no portal (chat WebSocket)
!**/bower_components/sockjs/
!**/bower_components/sockjs/**
!**/bower_components/stompjs/
!**/bower_components/stompjs/**
